openapi: 3.0.3
info:
  title: Exastro ITA OASE Receiver API
  description: Exastro ITA OASE Receiver API
  version: "2.7.0"

servers:
  - url: "https://{host}"
    description: API endpoint
    variables:
      host:
        default: localhost
  - url: "http://{host}"
    description: API endpoint
    variables:
      host:
        default: localhost
  - url: "{protocol}://{host}:{port}"
    description: API endpoint (Development)
    variables:
      protocol:
        enum:
          - http
          - https
        default: https
      host:
        default: localhost
      port:
        default: '30080'

tags:
  - name: OASE
    description: OASEの情報を取得・登録
  - name: InternalHealthCheckService
    description: ヘルスチェックに関する操作(内部用)

paths:
  /api/{organization_id}/workspaces/{workspace_id}/oase_agent/event_collection/settings:
    post:
      tags:
        - OASE
      description: 対象のイベント収集設定を取得
      operationId: postEventCollectionSettings
      x-openapi-router-controller: controllers.oase_controller
      parameters:
        - name: organization_id
          in: path
          description: OrganizationID
          required: true
          schema:
            type: string
        - name: workspace_id
          in: path
          description: WorkspaceID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: 対象のイベント収集名を記載
              properties:
                event_collection_settings_names:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 000-00000
                  data:
                    type: array
                    items:
                      type: object
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'

  /api/{organization_id}/workspaces/{workspace_id}/oase_agent/events:
    post:
      tags:
        - OASE
      description: イベントを受け取り、ラベリングして保存する
      operationId: postEvents
      x-openapi-router-controller: controllers.oase_controller
      parameters:
        - name: organization_id
          in: path
          description: OrganizationID
          required: true
          schema:
            type: string
        - name: workspace_id
          in: path
          description: WorkspaceID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: イベントのJSONデータ、取得した時間、イベント収集設定IDを記載
              properties:
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      event:
                        type: array
                        items:
                          type: object
                          example: {"date": 2024-01-01 00:00:00}
                      fetched_time:
                        type: integer
                        example: 1704034800
                      event_collection_settings_name:
                        type: string
                        example: "setting_name"
                      event_collection_settings_id:
                        type: string
                        example: setting_id
                      agent:
                        type: object
                        properties:
                          name:
                            type: string
                            example: "agent-oase-01"
                            description: OASEエージェントの名称(AGENT_NAME)を記載
                          version:
                            type: string
                            example: "2.x.y"
                            description: OASEエージェントのバージョン情報を記載
                    required:
                      - event

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 000-00000
                  data:
                    type: string
                    example: ""
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'

  /internal-api/health-check/liveness:
    get:
      tags:
        - InternalHealthCheckService
      summary: Internal health check liveness
      x-openapi-router-controller: controllers.internal_health_check_service_controller
      operationId: internal_health_check_liveness
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 000-00000
                  data:
                    type: string
                    example: ""
                  message:
                    type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'

  /internal-api/health-check/readiness:
    get:
      tags:
        - InternalHealthCheckService
      summary: Internal health check readiness
      x-openapi-router-controller: controllers.internal_health_check_service_controller
      operationId: internal_health_check_readiness
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 000-00000
                  data:
                    type: string
                    example: ""
                  message:
                    type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'

components:
  schemas:
    ERROR_TEMPLATE:
      type: object
      properties:
        result:
          type: string
          example: 001-002
        message:
          type: string

  securitySchemes:
    BearerAuth:
      description: Credentials or access token for API
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      description: Value converted from ID/Password in base64
      type: http
      scheme: basic
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
security:
- BearerAuth: []
- BasicAuth: []
