version: '3.7'
services:
  ita_ansible_agent:
    labels:
      - organization_id={{ organization_id }}
      - workspace_id={{ workspace_id }}
      - execution_no={{ execution_no }}
    # image: "{{ ansible_agent_image }}"
    build:
      context: ./work/
      args:
        ANSIBLE_AGENT_IMAGE: "${ANSIBLE_AGENT_IMAGE}"
        ANSIBLE_AGENT_IMAGE_TAG: "${ANSIBLE_AGENT_IMAGE_TAG}"
        http_proxy: "${http_proxy}"
        https_proxy: "${https_proxy}"
        HTTP_PROXY: "${HTTP_PROXY}"
        HTTPS_PROXY: "${HTTPS_PROXY}"
      secrets:
        - host_certificate_file
    entrypoint:
      - "bash"
      - "-c"
      - "{{ str_shell_command }}"
    volumes:
      - type: bind
        source: {{ host_mount_path_driver }}
        target: {{ container_mount_path_driver }}
      - type: bind
        source: {{ host_mount_path_conductor }}
        target: {{ container_mount_path_conductor }}
    environment:
      # - HTTP_PROXY={{ HTTP_PROXY }}
      # - http_proxy={{ HTTP_PROXY }}
      # - HTTPS_PROXY={{ HTTPS_PROXY }}
      # - https_proxy={{ HTTPS_PROXY }}
      - NO_PROXY=localhost,127.0.0.1,ita-api-organization,ita-api-admin,ita-web-server
      - no_proxy=localhost,127.0.0.1,ita-api-organization,ita-api-admin,ita-web-server
      - EXEC_DIR={{ container_mount_path_driver }}
    networks:
      - exastro

networks:
  exastro:
    name: exastro_{{ network_id }}
    external: true

secrets:
  host_certificate_file:
    file: ${HOST_CERTIFICATE_FILE:-/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem}
