; 当ファイルをpytest.iniにコピーして利用してください

[pytest]
; pythonのimportディレクトリを/appからカレントディレクトリ(/workspace/ita_root/***)に変更
; この設定を読み込まないとpytestのカバレッジやdebuggerがうまく動きません(/app配下のソースがimportされちゃう)
pythonpath=.

;
; 環境変数
;
env =
    ; unit test用のコンテナに接続に切り替え
    DB_HOST=unittest-ita-db
    DB_DATABASE=ITA_DB
    DB_USER=ITA_USER
    DB_PASSWORD=password
    DB_ADMIN_USER=root
    DB_ADMIN_PASSWORD=password
    ; Platformはmockするので要求は飛ばないが、間違って本物に飛ばないようにするため置き換える
    PLATFORM_API_HOST=dummy
    PLATFORM_API_PORT=7999
    ; ITA API接続情報
    ITA_API_ADMIN_HOST=unittest-ita-api-admin
    ITA_API_ADMIN_PORT=8079
    ITA_API_ORGANIZATION_HOST=unittest-ita-api-organization
    ITA_API_ORGANIZATION_PORT=8000
    ; ストレージパス
    STORAGEPATH=/workspace/ita_root/ita_by_oase_conclusion/tests/storage/

    ; pytest起動時にunit test用のコンテナを起動するかの指定
    ;
    ;   DOCKER_COMPOSE_UP_UNITTEST_NODE=MANUAL (開発時は基本こちらで利用)
    ;       手動でunit test用のコンテナを起動します
    ;       起動を待つ時間が省かれるのでunit testの実行時間が短くて済みます
    ;
    ;       unit test用のコンテナを起動コマンド(devcontainer内から実行)
    ;           ./platform_root/ita_by_oase_conclusion/tests/docker-compose-up.sh
    ;
    ;   DOCKER_COMPOSE_UP_UNITTEST_NODE=AUTO
    ;       自動でunit test用のコンテナを起動・停止します
    ;       毎回起動・停止するので環境的にはクリーンになりますが、unit testの実行時間は遅くなります
    ;
    DOCKER_COMPOSE_UP_UNITTEST_NODE=MANUAL
    ; DOCKER_COMPOSE_UP_UNITTEST_NODE=AUTO

    ; pytest作成したで試験データのExcelをTEST_OUTPUT_PATHに保存します
    ; USER_EXCEL_FILE_SAVED=TRUE

; pytestのデバック（debugger使用）時のみコメントアウトを解除してください
; ※コメントアウトを解除中はカバレッジの情報は更新されません
; addopts=--no-cov
