openapi: 3.0.3
info:
  title: Exastro ITA OASE Receiver API
  description: Exastro ITA OASE Receiver API
  version: 2.7.0
servers:
- url: "https://{host}"
  description: API endpoint
  variables:
    host:
      default: localhost
- url: "http://{host}"
  description: API endpoint
  variables:
    host:
      default: localhost
- url: "{protocol}://{host}:{port}"
  description: API endpoint (Development)
  variables:
    protocol:
      default: https
      enum:
      - http
      - https
    host:
      default: localhost
    port:
      default: "30080"
tags:
- name: OASE
  description: OASEの情報を取得・登録
- name: InternalHealthCheckService
  description: ヘルスチェックに関する操作(内部用)
paths:
  /api/{organization_id}/workspaces/{workspace_id}/oase_agent/event_collection/settings:
    post:
      tags:
      - OASE
      description: 対象のイベント収集設定を取得
      operationId: post_event_collection_settings
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/event_collection_settings_body"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_TEMPLATE"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_TEMPLATE"
      x-openapi-router-controller: controllers.oase_controller
  /api/{organization_id}/workspaces/{workspace_id}/oase_agent/events:
    post:
      tags:
      - OASE
      description: イベントを受け取り、ラベリングして保存する
      operationId: post_events
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/oase_agent_events_body"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_TEMPLATE"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_TEMPLATE"
      x-openapi-router-controller: controllers.oase_controller
  /internal-api/health-check/liveness:
    get:
      tags:
      - InternalHealthCheckService
      summary: Internal health check liveness
      operationId: internal_health_check_liveness
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_TEMPLATE"
      x-openapi-router-controller: controllers.internal_health_check_service_controller
  /internal-api/health-check/readiness:
    get:
      tags:
      - InternalHealthCheckService
      summary: Internal health check readiness
      operationId: internal_health_check_readiness
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_TEMPLATE"
      x-openapi-router-controller: controllers.internal_health_check_service_controller
components:
  schemas:
    ERROR_TEMPLATE:
      type: object
      properties:
        result:
          type: string
          example: 001-002
        message:
          type: string
    event_collection_settings_body:
      properties:
        event_collection_settings_names:
          type: array
          items:
            type: string
      description: 対象のイベント収集名を記載
    inline_response_200:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: array
          items:
            type: object
        message:
          type: string
      example:
        result: 000-00000
        data:
        - {}
        - {}
        message: message
    apiorganization_idworkspacesworkspace_idoase_agentevents_agent:
      type: object
      properties:
        name:
          type: string
          description: OASEエージェントの名称(AGENT_NAME)を記載
          example: agent-oase-01
        version:
          type: string
          description: OASEエージェントのバージョン情報を記載
          example: 2.x.y
    apiorganization_idworkspacesworkspace_idoase_agentevents_events:
      required:
      - event
      type: object
      properties:
        event:
          type: array
          items:
            type: object
            example:
              date: 2024-01-01 00:00:00
        fetched_time:
          type: integer
          example: 1704034800
        event_collection_settings_name:
          type: string
          example: setting_name
        event_collection_settings_id:
          type: string
          example: setting_id
        agent:
          $ref: "#/components/schemas/apiorganization_idworkspacesworkspace_idoase_agentevents_agent"
    oase_agent_events_body:
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/apiorganization_idworkspacesworkspace_idoase_agentevents_events"
      description: イベントのJSONデータ、取得した時間、イベント収集設定IDを記載
    inline_response_200_1:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: string
          example: ""
        message:
          type: string
      example:
        result: 000-00000
        data: ""
        message: message
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  securitySchemes:
    BearerAuth:
      type: http
      description: Credentials or access token for API
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: swagger_server.controllers.authorization_controller.check_BearerAuth
    BasicAuth:
      type: http
      description: Value converted from ID/Password in base64
      scheme: basic
      x-basicInfoFunc: swagger_server.controllers.authorization_controller.check_BasicAuth

