openapi: 3.0.3
info:
  title: Exastro ITA Ansible Execution Receiver API
  description: Exastro ITA Ansible Execution Receiver API
  version: "2.5"
servers:
- url: "https://{host}"
  description: API endpoint
  variables:
    host:
      default: localhost
- url: "http://{host}"
  description: API endpoint
  variables:
    host:
      default: localhost
- url: "{protocol}://{host}:{port}"
  description: API endpoint (Development)
  variables:
    protocol:
      default: https
      enum:
      - http
      - https
    host:
      default: localhost
    port:
      default: "30080"
tags:
- name: Ansible Execution
  description: Ansibleの情報を取得
- name: InternalHealthCheckService
  description: ヘルスチェックに関する操作(内部用)
paths:
  /api/{organization_id}/workspaces/{workspace_id}/ansible_execution_agent/instance/unexecuted:
    post:
      tags:
      - Ansible Execution
      description: 未実行インスタンス取得
      operationId: post_unexecuted_instance
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/instance_unexecuted_body'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.ansible_execution_controller
  /api/{organization_id}/workspaces/{workspace_id}/ansible_execution_agent/{execution_no}/notification/status:
    post:
      tags:
      - Ansible Execution
      description: 作業状態通知
      operationId: execution_status_notification
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: execution_no
        in: path
        description: 作業番号
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification_status_body'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.ansible_execution_controller
  /api/{organization_id}/workspaces/{workspace_id}/ansible_execution_agent/{execution_no}/populated_data:
    get:
      tags:
      - Ansible Execution
      description: 投入データ取得
      operationId: get_populated_data
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: execution_no
        in: path
        description: 作業番号
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: driver_id
        in: query
        description: ドライバーID
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.ansible_execution_controller
  /api/{organization_id}/workspaces/{workspace_id}/ansible_execution_agent/{execution_no}/result_data:
    post:
      tags:
      - Ansible Execution
      description: 結果データ受け取り・更新
      operationId: update_result_data
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: execution_no
        in: path
        description: 作業番号
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/execution_no_result_data_body'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.ansible_execution_controller
  /api/{organization_id}/workspaces/{workspace_id}/ansible_execution_agent/version:
    post:
      tags:
      - Ansible Execution
      description: バージョン通知
      operationId: agent_version
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ansible_execution_agent_version_body'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.ansible_execution_controller
  /api/{organization_id}/workspaces/{workspace_id}/ansible_execution_agent/notification/execution:
    post:
      tags:
      - Ansible Execution
      description: 作業中通知
      operationId: execution_notification
      parameters:
      - name: organization_id
        in: path
        description: OrganizationID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: workspace_id
        in: path
        description: WorkspaceID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification_execution_body'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.ansible_execution_controller
  /internal-api/health-check/liveness:
    get:
      tags:
      - InternalHealthCheckService
      summary: Internal health check liveness
      operationId: internal_health_check_liveness
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.internal_health_check_service_controller
  /internal-api/health-check/readiness:
    get:
      tags:
      - InternalHealthCheckService
      summary: Internal health check readiness
      operationId: internal_health_check_readiness
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERROR_TEMPLATE'
      x-openapi-router-controller: controllers.internal_health_check_service_controller
components:
  schemas:
    ERROR_TEMPLATE:
      type: object
      properties:
        result:
          type: string
          example: 001-002
        message:
          type: string
    instance_unexecuted_body:
      properties:
        execution_environment_names:
          type: array
          description: 指定が無ければ対象全件取得。Ansible共通-実行環境管理-実行環境名から利用可能。
          example:
          - 実行環境名1
          - 実行環境名X
          items:
            type: string
    inline_response_200:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: array
          example:
            execution_no:
              driver_id: string
              build_type: string
              user_name: string
              password: string
              base_image: string
              attach_repository: string
              anstwr_del_runtime_data: boolean
          items: {}
        message:
          type: string
      example:
        result: 000-00000
        data:
          execution_no:
            driver_id: string
            build_type: string
            user_name: string
            password: string
            base_image: string
            attach_repository: string
            anstwr_del_runtime_data: boolean
        message: message
    notification_status_body:
      properties:
        driver_id:
          type: string
        status:
          type: string
      description: ドライバーID、ステータス
    inline_response_200_1:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: array
          example:
            scram_status: boolean
          items: {}
        message:
          type: string
      example:
        result: 000-00000
        data:
          scram_status: boolean
        message: message
    inline_response_200_2:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: string
          description: 各種ファイルを1つにまとめてそのパスを返す
        message:
          type: string
      example:
        result: 000-00000
        data: data
        message: message
    apiorganization_idworkspacesworkspace_idansible_execution_agentexecution_noresult_data_file:
      type: object
      properties:
        file_name:
          type: string
          example: base64 encode file
    execution_no_result_data_body:
      type: object
      properties:
        driver_id:
          type: string
        status:
          type: string
        file:
          $ref: '#/components/schemas/apiorganization_idworkspacesworkspace_idansible_execution_agentexecution_noresult_data_file'
      description: ドライバーID、ステータス、各種tarファイルを指定
    inline_response_200_3:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: boolean
        message:
          type: string
      example:
        result: 000-00000
        data: true
        message: message
    ansible_execution_agent_version_body:
      properties:
        agent_name:
          type: string
        version:
          type: string
      description: エージェント名、バージョン情報を指定
    inline_response_200_4:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: array
          example:
            version_diff: boolean
          items: {}
        message:
          type: string
      example:
        result: 000-00000
        data:
          version_diff: boolean
        message: message
    notification_execution_body:
      properties:
        legacy:
          type: array
          description: 作業番号を指定する
          items:
            type: string
        pioneer:
          type: array
          description: 作業番号を指定する
          items:
            type: string
        legacy_role:
          type: array
          description: 作業番号を指定する
          items:
            type: string
      description: 作業実行中の作業番号を指定する
    inline_response_200_5:
      type: object
      properties:
        result:
          type: string
          example: 000-00000
        data:
          type: string
          example: ""
        message:
          type: string
      example:
        result: 000-00000
        data: ""
        message: message
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  securitySchemes:
    BearerAuth:
      type: http
      description: Credentials or access token for API
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: swagger_server.controllers.authorization_controller.check_BearerAuth
    BasicAuth:
      type: http
      description: Value converted from ID/Password in base64
      scheme: basic
      x-basicInfoFunc: swagger_server.controllers.authorization_controller.check_BasicAuth

