version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--ignore-certs'

images:
  base_image:
    name: {{ image }}

dependencies:
  ansible_core:
    package_pip: {{ ansible_core }}
  ansible_runner:
    package_pip: {{ ansible_runner }}
  system: {{ bindep_file }}
  python: {{ python_requirements_file }}
{% if galaxy_requirements_file == "" %}
{% else %}
  galaxy: {{ galaxy_requirements_file }}
{% endif %}
  python_interpreter:
    package_system: "python39"
    python_path: "/usr/bin/python3.9"

options:
  package_manager_path: /usr/bin/dnf
  user: root
