@charset "utf-8";
/* CSS Document */

:root {
    /* Main color */
    --mainColor100: #002B62;
    --mainColor95: #0D366A;
    --mainColor90: #1A4072;
    --mainColor85: #264B7A;
    --mainColor80: #335581;
    --mainColor75: #406089;
    --mainColor70: #4D6B91;
    --mainColor65: #597599;
    --mainColor60: #6680A1;
    --mainColor55: #738AA9;
    --mainColor50: #7F95B1;
    --mainColor45: #8CA0B8;
    --mainColor40: #99AAC0;
    --mainColor35: #A6B5C8;
    --mainColor30: #B3BFD0;
    --mainColor25: #BFCAD8;
    --mainColor20: #CCD5E0;
    --mainColor15: #D9DFE7;
    --mainColor10: #E5EAEF;
    --mainColor5: #FFFFFF;

    /* Accent color */ 
    --accentColor100: #FFA500;
    --accentColor95: #FFAA0D;
    --accentColor90: #FFAE1A;
    --accentColor85: #FFB326;
    --accentColor80: #FFB733;
    --accentColor75: #FFBC40;
    --accentColor70: #FFC04D;
    --accentColor65: #FFA500;
    --accentColor60: #FFC559;
    --accentColor55: #FFCE73;
    --accentColor50: #FFD280;
    --accentColor45: #FFD78C;
    --accentColor40: #FFDB99;
    --accentColor35: #FFA500;
    --accentColor30: #FFE4B3;
    --accentColor25: #FFE9BF;
    --accentColor20: #FFEDCC;
    --accentColor15: #FFF2D9;
    --accentColor10: #FFF6E6;
    --accentColor5: #FFFBF2;

    /* Base color */
    --baseColor100: #F0F0F0;
    
    /* Black */
    --black100: #1A1B1C;
    --black95: #252627;
    --black90: #313233;
    --black85: #3C3D3E;
    --black80: #484949;
    --black75: #535455;
    --black70: #5F5F60;
    --black65: #6A6B6B;
    --black60: #767677;
    --black55: #818282;
    --black50: #8D8D8E;
    --black45: #989899;
    --black40: #A3A4A4;
    --black35: #AFAFB0;
    --black30: #BABBBB;
    --black25: #C6C6C6;
    --black20: #D1D1D2;
    --black15: #DDDDDD;
    --black10: #E8E8E8;
    --black5: #F4F4F4;
    
    /* White */
    --white100: #FFF;
    
    /* Button */
    --buttonColor: #FF821E;
    /* Focus */
    --focusColor: #0070FF;
    --focusBackgroundColor: #E5F1FF;
    
    /* Table row color */
    --rowColor: #FFF;
    --rowEvenColor: #F0F2F6;
    --rowHeadColor: #F0F2F6;
    --rowHeadEvenColor: #E0E6EC;
    --rowHoverColor: #E0E6EC;
    --rowHoverHeadColor: #DBE1E9;
    --rowDiscardColor: #D1D1D1;
    --rowDiscardHoverColor: #C7C7C7;
    --rowDiscardTextColor: #888;
}