@charset "utf-8";
/* CSS Document */
body {
margin: 0; padding: 0;
}
* {
box-sizing: border-box;
}

#modalContainer {
position: fixed;
left: 0; top: 0;
z-index: 999;
width: 100vw; height: 100vh;
}
.modalOverlay {
position: absolute;
left: 0; top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%; height: 100%;
padding: 16px;
background-color: rgba( 0,0,0,.5 );
}
.modalOverlay.hiddenDialog {
visibility: hidden;
}
.modalContainerFocus,
.modalFocus {
position: fixed;
z-index: -1;
left: 0; top: 0;
outline: none;
pointer-events: none;
}
.dialog {
display: flex;
flex-direction: column;
width: 640px; height: 100%;
max-width: 100%;
}
.dialogMain {
overflow: hidden;
display: flex;
flex-direction: column;
background-color: #FFF;
box-shadow: 0 0 16px rgba( 0,0,0,.3 );
}
.dialogAnimation {
will-change: transform;
transform: scale(.5);
animation:  dialogOpen .1s forwards;
}
@keyframes dialogOpen {
100% { transform: scale(1); }
}
.dialogMain > div {
min-height: 0;
}
.dialogHeader {
flex: 0 0 48px;
border-bottom: 1px solid #DBDEE0;
}
.dialogBody {
overflow: auto;
flex: 1 1 auto;
}
.dialogFooter {
flex: 0 0 48px;
background-color: #DBDEE0;
}
.dialogHeader {
height: 48px;
background-color: var(--mainColor100);
background-image: linear-gradient( rgba( 255,255,255,.1 ), transparent );
border-bottom: 4px solid var(--accentColor100);
}
.dialogHeaderTitle {
display: flex;
align-items: center;
height: 100%;
letter-spacing: .25px;
padding: 0 16px;
font-size: 16px;
color: var(--white100);
}
.dialogFooterMenuList {
display: flex;
gap: 16px;
height: 100%;
padding: 0 16px;
}
.dialogFooterMenuItem {
display: flex;
align-items: center;
}
.dialogFooterMenuButton > .inner {
padding: 0 16px;
}
.processingContainer {
position: relative;
z-index: 0;
height: 64px;
}
.processingContainer::after {
content: '';
display: block;
position: absolute;
left: 50%; top: 50%;
z-index: 2;
transform: translate(-50%,-50%);
width: calc( 100% - 32px ); height: 16px;
background-color: #EEE;
background-image: linear-gradient( -45deg, transparent 25%, rgba( 0,0,0,.1 ) 25%, rgba( 0,0,0,.1 ) 50%, transparent 50%, transparent 75%, rgba( 0,0,0,.1 ) 75% );
background-size: 32px 32px;
box-shadow: 0 0 0 2px #CCC;
border-radius: 8px;
animation: processingBar .5s linear infinite;
}
@keyframes processingBar {
to { background-position: 32px 0; }
}
.dialogContentContainer {
height: 100%;
}
.dialogContentBlock {
overflow: hidden;
border-radius: 4px;
}
.dialogContentBlock:last-child {
margin-bottom: 0;
}
.dialogContentTitle {
position: relative;
z-index: 0;
display: flex;
align-items: center;
padding: 12px 16px 12px 32px;
background-color: #F2F2F2;
background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 40% );
border-top: 1px solid rgba( 0,0,0,.05 );
line-height: 1;
letter-spacing: .75px;
font-size: 16px;
font-weight: bold;
color: var(--mainColor100);
}
.dialogContentTitle::before {
content: '';
display: block;
position: absolute;
left: 16px; top: 8px;
width: 4px; height: calc( 100% - 16px );
background-color: var(--accentColor100);
}
.dialogContentBody {
padding: 8px 8px 16px;
background-color: #EEE;
background-image: linear-gradient( rgba(0,0,0,.075), rgba(0,0,0,0) 8px );
}
.dialogContentDef {
overflow: hidden;
display: flex;
margin-bottom: 4px;
background-color: #FFF;
border: 1px solid rgba( 0,0,0,.2 );
border-radius: 4px;
font-family: "Osaka-mono", "MS Gothic", "monospace";
}
.dialogContentDef:last-child {
margin-bottom: 0;
}
.dialogContentDef > * {
align-items: center;
min-width: 0;
padding: 8px 16px;
}
.dialogContentDefTerm {
flex: 0 0 auto;
display: flex;
min-width: 20%;
background-color: #F2F2F2;
border-right: 1px dotted rgba( 0,0,0,.2 );
line-height: 1;
letter-spacing: 1px;
font-weight: bold;
font-size: 12px;
color: #999;
}
.dialogContentDefDesc {
flex: 1 1 auto;
min-width: 0;
padding: 8px 16px;
min-height: 32px;
line-height: 1.5;
letter-spacing: .5px;
font-size: 14px;
}
.dialogContentParagraph {
padding: 8px;
line-height: 1.5;
font-size: 12px;
}
.dialogContentInputArea {
padding: 8px 0;
}
/*
.dialogContentDef {
position: relative;
z-index: 0;
margin-bottom: 16px; padding: 16px;
background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 60% );
border: 1px solid rgba( 0,0,0,.1 );
border-radius: 4px;
font-family: "Osaka-mono", "MS Gothic", "monospace";
}
.dialogContentDefTerm {
position: absolute;
top: 0; left: 8px;
transform: translateY(-50%);
padding: 0 8px;
background-color: #F2F2F2;
line-height: 1;
letter-spacing: 1px;
font-size: 12px;
}
.dialogContentDefDesc {
padding: 8px 16px;
min-height: 32px;
line-height: 1.5;
letter-spacing: .5px;
font-size: 14px;
}
*/