# Copyright 2022 NEC Corporation#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# If there are setting items that cannot be uploaded to the Git repository, describe them in the .env file.
# Create an .env file based on this file
# If there is no setting item, it is not necessary to create an .env file.
# If you write VAR1 = value1, you can refer to it with $ {VAR1} in the docker-compose file.
#
# Gitリポジトリにアップできない設定項目がある場合は.envファイルに記載します
# このファイルを元に.envファイルを作成してください
# 設定項目が無いときは.envファイルの作成は不要です
# VAR1=value1のように記載すると、docker-composeファイルで${VAR1}で参照することができます
#
MARIADB_ROOT_PASSWORD=password
MARIADB_DATABASE=ITA_DB
MARIADB_USER=ITA_USER
MARIADB_PASSWORD=password

DB_HOST=ita-mariadb
DB_PORT=3306
DB_DATADBASE=ITA_DB
DB_USER=ITA_USER
DB_PASSWORD=password
DB_ROOT_PASSWORD=password

GITLAB_PROTOCOL=http
GITLAB_HOST=gitlab_host
GITLAB_PORT=gitlab_port
GITLAB_ROOT_TOKEN=gitlab_root_token

# 各ホストで変更が必要
HOST_STORAGEPATH=/home/almalinux/username/it-automation2-test/.volumes/storage/
# "docker"or"kubernetes"
CONTAINER_BASE=docker
