# Copyright 2022 NEC Corporation#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# If there are setting items that cannot be uploaded to the Git repository, describe them in the .env file.
# Create an .env file based on this file
# If there is no setting item, it is not necessary to create an .env file.
# If you write VAR1 = value1, you can refer to it with $ {VAR1} in the docker-compose file.
#
# Gitリポジトリにアップできない設定項目がある場合は.envファイルに記載します
# このファイルを元に.envファイルを作成してください
# 設定項目が無いときは.envファイルの作成は不要です
# VAR1=value1のように記載すると、docker-composeファイルで${VAR1}で参照することができます
#
ENCRYPT_KEY=

COMPOSE_PROJECT_NAME=exastro
NETWORK_ID=20230701

EXTERNAL_URL=http://localhost:38000
EXTERNAL_URL_MNG=http://localhost:38001

MARIADB_ROOT_PASSWORD=password
MARIADB_DATABASE=ITA_DB
MARIADB_USER=ITA_USER
MARIADB_PASSWORD=password

DB_HOST=ita-mariadb
DB_PORT=3306
DB_DATABASE=ITA_DB
DB_USER=ITA_USER
DB_PASSWORD=password
DB_ADMIN_USER=db_admin_user
DB_ADMIN_PASSWORD=db_admin_password

GITLAB_PROTOCOL=http
GITLAB_HOST=gitlab_host
GITLAB_PORT=gitlab_port
GITLAB_ROOT_TOKEN=gitlab_root_token

# 各ホストで変更が必要
HOST_STORAGEPATH=/home/almalinux/username/exastro-it-automation/.volumes/storage/
# "docker"or"kubernetes"
CONTAINER_BASE=docker
HOST_DOCKER_GID=
# rootlessモードの場合は、そのソケットに書き換えてください
HOST_DOCKER_SOCKET_PATH=/var/run/docker.sock

ANSIBLE_AGENT_IMAGE=exastro/exastro-it-automation-by-ansible-agent
ANSIBLE_AGENT_IMAGE_TAG=2.2.0

PLATFORM_VERSION=alpha.5df26a.20231225-224128

# exastro it automation 起動定義
# start all backyards
# 全てのbackyardを起動
COMPOSE_PROFILES=exastro-it-automation-backyard,ita-ag-oase
# Start by specifying the Service name (enumerate with commas)
# Service名を指定して起動（カンマで列挙）
# COMPOSE_PROFILES=ita-by-ansible-execute,ita-ag-oase

# ITA全体のAnsibleのMovement最大実行数（初期値）
SYSTEM_ANSIBLE_EXECUTION_LIMIT=25
SYSTEM_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION='Maximum number of movement executions for whole of IT automation'
# OrganizationごとのAnsibleのMovement最大実行数（初期値）
ORG_ANSIBLE_EXECUTION_LIMIT_DEFAULT=25
ORG_ANSIBLE_EXECUTION_LIMIT_MAX=1000
ORG_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION='Maximum number of movement executions for organization default'

# MONGO_DB用
# MONGO_DB接続用（外部指定用）
# MONGO_CONNECTION_STRING=
# MONGO_DB接続用（ITA自動作成用）
MONGO_INITDB_ROOT_USERNAME=adminer
MONGO_INITDB_ROOT_PASSWORD=Ch@ngeMeDBAdm

MONGO_OPTION_SSL=FALSE
MONGO_SCHEME=mongodb
MONGO_HOST=ita-mongodb
MONGO_PORT=27017
MONGO_ADMIN_USER=adminer
MONGO_ADMIN_PASSWORD=Ch@ngeMeDBAdm


# OASE_AGENT用
AG_OASE_AGENT_NAME=agent-oase-01
AG_OASE_EXASTRO_ORGANIZATION_ID=<your_org>
AG_OASE_EXASTRO_WORKSPACE_ID=<your_ws>
AG_OASE_EXASTRO_USERNAME=your_username
AG_OASE_EXASTRO_PASSWORD=your_pw
AG_OASE_EXASTRO_REFRESH_TOKEN=
AG_OASE_EXASTRO_URL=http://xxxx:8080
AG_OASE_EVENT_COLLECTION_SETTINGS_NAMES=name1,name2
AG_OASE_ITERATION=10
AG_OASE_EXECUTE_INTERVAL=5
AG_OASE_LOG_LEVEL=DEBUG

# ANSIBLE_AGENT用
AG_ANSIBLE_AGENT_NAME=agent-ansible-execution-01
AG_ANSIBLE_EXASTRO_ORGANIZATION_ID=<your_org>
AG_ANSIBLE_EXASTRO_WORKSPACE_ID=<your_ws>
AG_ANSIBLE_EXASTRO_REFRESH_TOKEN=<refresh_token>
AG_ANSIBLE_EXASTRO_URL=http://platform-auth:38000
AG_ANSIBLE_ITERATION=10
AG_ANSIBLE_EXECUTE_INTERVAL=3
AG_ANSIBLE_LOG_LEVEL=DEBUG
AG_ANSIBLE_CHILD_PROCESS_RETRY_LIMIT=3
AG_ANSIBLE_EXECUTION_ENVIRONMENT_NAMES=

# Organizationごとのファイルアップロードサイズ
ORG_COMMON_UPLOAD_FILE_LIMIT_DEFAULT=104857600
ORG_COMMON_UPLOAD_FILE_LIMIT_MAX=107374182400
ORG_COMMON_UPLOAD_FILE_LIMIT_DESCRIPTION='Maximum byte size of upload file for organization default'
