@charset "utf-8";
/* CSS Document */

:root {
/* Header color */
--headerColor: #444;

/* Main color */
--mainColor100:#00878A;--mainColor95:#0D8D90;--mainColor90:#1A9396;--mainColor85:#26999C;--mainColor80:#339FA1;--mainColor75:#40A5A7;--mainColor70:#4DABAD;--mainColor65:#59B1B3;--mainColor60:#66B7B9;--mainColor55:#73BDBF;--mainColor50:#80C3C5;--mainColor45:#8CC9CA;--mainColor40:#99CFD0;--mainColor35:#A6D5D6;--mainColor30:#B3DBDC;--mainColor25:#BFE1E2;--mainColor20:#CCE7E8;--mainColor15:#D9EDED;--mainColor10:#E6F3F3;--mainColor5:#F2F9F9;--mainColor0:#FFFFFF;

/* Accent color */ 
--accentColor100:#00878A;--accentColor95:#0D8D90;--accentColor90:#1A9396;--accentColor85:#26999C;--accentColor80:#339FA1;--accentColor75:#40A5A7;--accentColor70:#4DABAD;--accentColor65:#59B1B3;--accentColor60:#66B7B9;--accentColor55:#73BDBF;--accentColor50:#80C3C5;--accentColor45:#8CC9CA;--accentColor40:#99CFD0;--accentColor35:#A6D5D6;--accentColor30:#B3DBDC;--accentColor25:#BFE1E2;--accentColor20:#CCE7E8;--accentColor15:#D9EDED;--accentColor10:#E6F3F3;--accentColor5:#F2F9F9;--accentColor0:#FFFFFF;

/* Table row color */
    --rowColor: #FFF;
    --rowEvenColor: #F0F8F8;
    --rowHeadColor: #F0F8F8;
    --rowHeadEvenColor: #E0F1F1;
    --rowHoverColor: #E0F1F1;
    --rowHoverHeadColor: #DBEEEF;
}