apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-ita-common
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/data/exastro-suite/exastro-it-automation/ita-common
    type: DirectoryOrCreate